<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Books available in Nico's House</title>
<script
  type="text/javascript"
  src="//cdnjs.cloudflare.com/ajax/libs/mootools/1.4.5/mootools-core-full-nocompat.js"></script>
<style>
      html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  background: lightgray;
}

.bookshelf--frame {
  max-width: 1200px;
  margin: 0 auto;
}

.bookshelf--frame {
  background: tan;
  background: url("https://static.tumblr.com/8x9m588/C8ho55ylx/bg-wood2.png"), linear-gradient(#323232, #373737 290px, #a8914e 290px, #a8914e 292px, #9A8548 292px, #9A8548 298px, #8c7942 298px, #8c7942 300px);
  background-size: auto, 10px 300px;
  border-left: 10px solid #9A8548;
  border-right: 10px solid #9A8548;
  text-align: center;
}
.bookshelf--frame:first-of-type {
  border-top: 10px solid #9A8548;
}
.bookshelf--frame .book-wrapper {
  display: inline-block;
  width: 290px;
  vertical-align: bottom;
  height: 280px;
  position: relative;
  margin: 10px 0;
  max-width: 100%;
}
.bookshelf--frame .book-wrapper img {
  height: auto;
  width: auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-height: 100%;
  max-width: 100%;
}

.modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 99999;
        opacity:0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
    }

    .modalDialog:target {
        opacity:1;
        pointer-events: auto;
    }

    .modalDialog > div {
        width: 400px;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
        background: -moz-linear-gradient(#fff, #999);
        background: -webkit-linear-gradient(#fff, #999);
        background: -o-linear-gradient(#fff, #999);
    }

    .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }

    .close:hover { background: #00d9ff; }
    #wait{
     display: none
    }
    </style>
    <script type="text/javascript">
//<![CDATA[

  window.addEvent('load', function() {



  });

//]]></script>
<script type="text/javascript">
  function switchvisible(show,hide){
  // alert("cheked the button - worked");
  document.getElementById(show).style.display= 'block' ;
  document.getElementById(hide).style.display= 'none' ;

}

var finished = false
function checkBook(isbn,token){
  var cxhr = new XMLHttpRequest();
  var url = 'https://consul.stn.corrarello.net/v1/kv/library/' + isbn;
  cxhr.open('GET', url, true);
  cxhr.setRequestHeader('X-Consul-Token', token);
  console.log ('Trying consul with token ' + token + ' ' + url)
  cxhr.send();
  cxhr.onreadystatechange = function() {
    var status;
    var data;
    if (this.readyState == 4) {
      status = this.status;
      if (status == 200) {
        console.log(cxhr.responseText)
        location.reload();
        return false;
      }
      else
      {
        console.log('Book is not in Consul yet')
        return true;
      };
    };
  };
  }

function addBook(){
  var form = document.getElementById('newBook');
  var formData = new FormData(form);
  var xhr = new XMLHttpRequest();
  var newisbn = document.getElementById("newBookISBN").value
  var requestPath = 'v1/books/' + newisbn
  xhr.open('POST', requestPath, true);
  xhr.send(formData);
  xhr.onreadystatechange = function() {
    var status;
    var data;
    if (xhr.readyState == 4) {
      status = xhr.status;
			if (status == 200) {
				data = JSON.parse(xhr.responseText);
        var token = data[1]
        switchvisible('wait','addform');
        console.log('Checking if book ' + newisbn + 'is on consul yet');
        var checkWithConsul = setInterval(function() {checkBook(newisbn,token)}, 6000);
        console.log('Waiting for book to be created. Sleeping 2 seconds');

      }
    }
    else {
      console.log('Error' + xhr.status + 'Submitting' + newisbn);
    }
  };

}

</script>
</head>
<body translate="no">
<div class="bookshelf--frame">
<% unless content.nil? %>
<% content.each do |book| %>
<div class="book-wrapper">
<a href="#openModal<%= book["isbn"] %>">
<img src="<%= book["thumbnail_url"] %>" width="300" height="500" alt="<%= book["title"] %>"></a>

</div>

<% end %>
<% end %>
<div class="book-wrapper">
<a href="#openModaladdbook">
<img src="add.png" width="300" height="500" alt="Add Book"></a>

</div>
</div>
<% unless content.nil? %>
<% content.each do |book| %>
<div id="openModal<%= book["isbn"] %>" class="modalDialog">
<div>
    <a href="#close" title="Close" class="close">X</a>
    <h2><%= book["title"] %></h2>
    <h3><%= book["subtitle"] %></h3>
    <p><bold>Published Date:</bold> <%= book["publish_date"] %></p>
    <p><bold>Author:</bold> <%= book["author"] %></p>
    <p><bold>Publisher:</bold> <%= book["publishers"] %></p>
    <p><a href="<%= book["url"] %>" target="_blank">More info</a></p>
</div>
</div>
<% end %>
<% end %>
<div id="openModaladdbook" class="modalDialog">
<div>
    <a href="#close" title="Close" class="close">X</a>
    <div id="addform">
      <form id="newBook" name="newBook" action="#">
      <p><bold>ISBN 10:</bold> <input id="newBookISBN" name="isbn" type="text" size=20></input></p>
      <p><bold>API Key:</bold> <input type="password" name="key" size=20></input></p>
      <input type="button" onClick="addBook()" name="Add Book" value="Add Book">
        </form>
    </div>
    <div id="wait" style="text-align: center;">
      <img src="wait.gif" width=63 height=63/>
    </div>
</div>
</div>
</body>
</html>
